.calendar-container {
    min-height: 700px;
    height: 700px;
    background: #fff;
    border-radius: 8px;
    position: relative;
}

.calendar-container > * {
    display: block;
    width: 100%;
    height: 100%;
    min-height: 700px;
}
